In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

## Import the Dataset

In [2]:
dataset = pd.read_csv("Iris.csv")

In [3]:
dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
dataset.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
dataset.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [7]:
dataset["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [8]:
dataset["Species"].nunique()

3

In [9]:
map_dict = {
    "Iris-setosa": 0,
    "Iris-versicolor": 1,
    "Iris-virginica": 2
}

In [10]:
dataset["Species"] = dataset["Species"].map(map_dict)

## Train The Model

In [33]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error

In [34]:
# Split the data into X and Y
X = dataset.drop(["Species"], axis=1)
y = dataset["Species"]

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

In [36]:
lm = LinearRegression()
lm.fit(X_train, y_train)
predicted = lm.predict(X_test)
mean_absolute_error(y_test, predicted)
# lm.score(X_test, y_test)

0.1272494643115937

In [37]:
print(f"The percentage accuracy is {y_test, predicted}")

The percentage accuracy is (33     0
16     0
43     0
129    2
50     1
123    2
68     1
53     1
146    2
1      0
147    2
32     0
31     0
122    2
127    2
74     1
88     1
96     1
42     0
134    2
80     1
48     0
90     1
65     1
97     1
64     1
93     1
114    2
25     0
41     0
Name: Species, dtype: int64, array([-0.0351318 , -0.08605803,  0.26855399,  1.77425953,  0.96304488,
        1.73047079,  1.1903005 ,  0.9738427 ,  1.95685812, -0.18082417,
        1.99636091, -0.03890434,  0.07507384,  1.97820834,  1.7596263 ,
        1.09179691,  1.20903161,  1.28071156,  0.12580971,  1.79585003,
        1.06614585,  0.12312233,  1.25796635,  1.04923603,  1.27210232,
        0.96113925,  1.08462987,  1.93177817,  0.01879233,  0.18473142]))